{% load static %}


<!-- Vendor CSS -->
<link rel="stylesheet" type="text/css" href="static/assets/vendor/fontawesome-free/css/all.min.css">

<!-- Plugins CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate/animate.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/magnific-popup/magnific-popup.min.css' %}">

<!-- Default CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/demo2.min.css' %}">



<!-- Default CSS -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'assets/css/demo1.min.css' %}"> -->
