{% load i18n %}

{% load static %}
{% load display_tags %}

{% load purchase_info_tags %}
{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags %}


  <!-- Start of Quick View -->

  <div class="product product-single product-popup">
    <div class="quickview-content">
        <div class="row gutter-lg">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="product-gallery product-gallery-sticky">
                    <div class="swiper-container product-single-swiper swiper-theme nav-inner">
                        {% if product.images.exists %}
                        <div class="swiper-wrapper row cols-1 gutter-no">
                            {% for image in product.get_all_images %}
                                <div class="swiper-slide">
                                    <figure class="product-image">
                                        <img src="{{ image.original.url }}" alt="{{ product.get_title }}" 
                                            data-zoom-image="{{ image.original.url }}"
                                            width="800" height="900">
                                    </figure>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="swiper-button-next"></button>
                        <button class="swiper-button-prev"></button>
                        {% else %}
                            <div class="swiper-slide">
                                <figure class="product-image">
                                    <img src="{% static 'assets/image_not_found.jpg' %}" alt="Default Image" 
                                         data-zoom-image="{% static 'assets/image_not_found.jpg' %}"
                                         width="800" height="900">
                                </figure>
                            </div>
                        {% endif %}
                    </div>
                    <!-- Thumbnail navigation (Optional) -->
                    <div class="product-thumbs-wrap swiper-container" data-swiper-options="{
                        'navigation': {
                            'nextEl': '.swiper-button-next',
                            'prevEl': '.swiper-button-prev'
                        }
                    }">
                        <div class="product-thumbs swiper-wrapper row cols-4 gutter-sm">
                            {% for image in product.images.all %}
                                <div class="product-thumb swiper-slide">
                                    <img src="{{ image.original.url }}" alt="{{ product.get_title }}" width="103" height="116">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="swiper-button-next"></button>
                        <button class="swiper-button-prev"></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 overflow-hidden p-relative">
                <div class="product-details scrollable pl-0">
                    <h2 class="product-title">{{ product.get_title }}</h2>
                    <div class="product-bm-wrapper">
                        <figure class="brand">
                            {% if product.brands.exists %}
                                {% for brand in product.brands.all %}
                                    {% if brand.logo %}
                                        <img src="{{brand.logo.url }}" alt="{{ brand.name }}"
                                            width="100" height="40" />
                                    {% else %}
                                        <img src="{% static 'assets/images/default_logo.jpg' %}" alt="{{ brand.name }}"
                                            width="100" height="40" />
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <span>No image available</span>
                            {% endif %}
                        </figure>
                        <div class="product-meta">
                            <div class="product-categories">
                                Category:
                                <span class="product-category"><a href="{{ product.get_categories.first.get_absolute_url }}">{{ product.get_categories.first.name }}</a></span>
                            </div>
                            <div class="product-categories">
                                Brand:
                                <span class="product-category">
                                    {% if product.brands.exists %}
                                        {% for brand in product.brands.all %}
                                            <a href="#">{{ brand.name }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <span>No brand available</span>
                                    {% endif %}
                                
                                </span>
                            </div>
                            <div class="product-sku">
                                {% if product.upc %}
                                    SKU: <span>{{ product.upc }}</span>
                                {% else %}
                                    SKU: <span>No SKU available</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr class="product-divider">

                    <div class="product-price">
                        {% if price %}
                            {{ price|currency }}
                        {% else %}
                            <p class="price_color" style="font-weight: bold;">&nbsp;</p>
                        {% endif %}
                    </div>

                    <div class="ratings-container">
                    {% iffeature "reviews" %}
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <!-- Check if the product has a rating, else set width to 0% -->
                                <span class="ratings" style="width: {% if product.rating %}{% widthratio product.rating 5 100 %}{% else %}0{% endif %}%;"></span>
                                <span class="tooltiptext tooltip-top">
                                    {% if product.rating %}
                                        {{ product.rating|floatformat:2 }} out of 5
                                    {% else %}
                                        No rating available
                                    {% endif %}
                                </span>
                            </div>
                            <a href="{{ product.get_absolute_url }}#reviews" class="rating-reviews">({{ product.reviews.count }} reviews)</a>
                        </div>                 
                    {% endiffeature %}
                    </div>

                    <div class="product-short-desc">
                        <ul class="list-type-check list-style-none">
                        {% with stripped_description=product.description|striptags %}
                            {% for line in stripped_description.splitlines %}
                            <li>{{ line|capfirst }}</li>
                            {% endfor %}
                        {% endwith %}
                        </ul>
                    </div> 

                    <hr class="product-divider">
                    <div class="product-form container">
                        <div class="product-qty-form">
                            <div class="input-group">
                                <input class="quantity form-control" type="number" min="1"
                                    max="10000000">
                                <button class="quantity-plus w-icon-plus"></button>
                                <button class="quantity-minus w-icon-minus"></button>
                            </div>
                        </div>
                        <a class="btn btn-primary btn-cart" data-product-pk="{{ product.pk }}">
                            <i class="w-icon-cart"></i>
                            <span>{% trans "Add to Cart" %}</span>
                        </a>
                    </div>
                    
                    <div class="social-links-wrapper">
                        <div class="social-links">
                            <div class="social-icons social-no-color border-thin">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="social-icon social-facebook w-icon-facebook"></a>
                                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" class="social-icon social-twitter w-icon-twitter"></a>
                                <a href="https://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}" class="social-icon social-pinterest fab fa-pinterest-p"></a>
                                <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" class="social-icon social-whatsapp fab fa-whatsapp"></a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}" class="social-icon social-youtube fab fa-linkedin-in"></a>
                            </div>
                        </div>
                        <span class="divider d-xs-show"></span>
                        <div class="product-link-wrapper d-flex">
                            <a href="#" class="btn-product-icon btn-compare btn-icon-left w-icon-compare"><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>  
</div>  
<!-- End of Quick view -->