{% load i18n %}

{% load static %}
{% load product_tags %}
{% load custom_product_tags %}



<div class="tab tab-with-title tab-nav-boxed appear-animate">
    <h2 class="title">{% trans "Richesm Products" %}</h2>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#tab-1">{% trans "New Arrivals" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab-2">{% trans "Best Seller" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab-3">{% trans "Most Popular" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link view-all-link" href="{% url 'catalogue:index' %}">{% trans "View All" %}</a>
        </li>
    </ul>
</div>
<!-- End of Tab Title-->
<div class="tab-content appear-animate">
    {% newest_products 7 as products %}
    <div class="tab-pane active" id="tab-1">
        <div class="row grid-type products">
            {% for product in products %}
            {% if forloop.first %}
            <div class="product-wrap lg-item">
            {% else %}
            <div class="product-wrap sm-item">
            {% endif %}
                {% render_product product %}
            </div>
            {% endfor %}  
        </div>
    </div>

    {% best_selling_products 7 as products %}
    <div class="tab-pane" id="tab-2">
        <div class="row grid-type products">
            {% for product in products %}
            {% if forloop.first %}
            <div class="product-wrap lg-item">
            {% else %}
            <div class="product-wrap sm-item">
            {% endif %}
                {% render_product product %}
            </div>
            {% endfor %}
        </div>
    </div>


    {% most_popular_products 7 as products %}
    <div class="tab-pane" id="tab-3">
        <div class="row grid-type products">
            {% for product in products %}
            {% if forloop.first %}
            <div class="product-wrap lg-item">
            {% else %}
            <div class="product-wrap sm-item">
            {% endif %}
                {% render_product product %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End of Tab Content -->

