{% load static %}
{% load i18n %}

{% load brand_tags %}
{% load image_tags %}
{% load reviews_tags %}
{% load display_tags %}

<h2 class="title mb-5 appear-animate">{% trans "Top Weekly Brand" %}</h2>
<div class="swiper-container swiper-theme vendor-wrapper mb-4 appear-animate" data-swiper-options="{
    'spaceBetween': 20,
    'slidesPerView': 1,
    'breakpoints': {
        '576': {
            'slidesPerView': 2
        },
        '768': {
            'slidesPerView': 3
        },
        '1200': {
            'slidesPerView': 4
        }
    }
}">
    <div class="swiper-wrapper row cols-lg-4 cols-md-3 cols-sm-2 cols-1">
        {% get_brands_with_products as brands %}
        {% for brand in brands %}
        <div class="swiper-slide vendor-widget vendor-widget-1">
            <div class="vendor-products grid-type">
                {% for product in brand.products.all|slice:":3" %}
                    {% if forloop.first %}
                        <div class="vendor-product lg-item">
                    {% else %}
                        <div class="vendor-product sm-item">
                    {% endif %}
                            <figure class="product-media">
                                {% with image=product.primary_image %}
                                    {% oscar_thumbnail image.original "x180" upscale=False as thumb %}
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="img-thumbnail w-auto mx-auto my-0" width="300" height="338">
                                    </a>
                                {% endwith %}
                            </figure>
                        </div>
                {% endfor %}
            </div>
            <div class="vendor-details">
                <figure class="vendor-logo">
                    <a href="{{ brand.get_absolute_url }}">
                        {% if brand.logo %}
                            <img src="{{ brand.logo.url }}" alt="{{ brand.name }} logo" width="70" height="70">
                        {% endif %}
                    </a>
                </figure>
                <div class="vendor-personal">
                    <h4 class="vendor-name">
                        <a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a>
                    </h4>
                    <span class="vendor-product-count">({{ brand.products.count }} Products)</span>
                    {% iffeature "reviews" %}
                <div class="ratings-container">
                    <div class="ratings-full">
                        <!-- Check if the product has a rating, else set width to 0% -->
                        <span class="ratings" style="width: {% if brand.average_rating %}{% widthratio brand.average_rating 5 100 %}{% else %}0{% endif %}%;"></span>
                        <span class="tooltiptext tooltip-top">
                            {% if brand.average_rating %}
                                {{ brand.average_rating|floatformat:2 }} out of 5
                            {% else %}
                                No rating available
                            {% endif %}
                        </span>
                    </div>
                </div>
                                
                {% endiffeature %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>
