{% load i18n %}
{% load product_tags %}

{% with products_sliced=products|slice:":6" %}
    {% if products_sliced %}
    <section class="related-product-section">
        <div class="title-link-wrapper mb-4">
            <h4>{% trans 'Recently view Products' %}</h4>
            <a href="{% url 'catalogue:index' %}" class="btn btn-dark btn-link btn-slide-right btn-icon-right">{% trans "More Products" %}<i class="w-icon-long-arrow-right"></i></a>
        </div>
        <div class="swiper-container swiper-theme" data-swiper-options="{
            'spaceBetween': 20,
            'slidesPerView': 2,
            'breakpoints': {
                '576': {
                    'slidesPerView': 3
                },
                '768': {
                    'slidesPerView': 4
                },
                '992': {
                    'slidesPerView': 3
                }
            }
        }">
            <div class="swiper-wrapper row cols-lg-3 cols-md-4 cols-sm-3 cols-2">
                {% for product in products_sliced %}
                    <div class="swiper-slide product">{% render_product product %}</div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
{% endwith %}