{% extends 'oscar/dashboard/layout.html' %}
<!-- {% load category_tags %} -->
{% load i18n %}

{% block body_class %}{{ block.super }} create-page catalogue{% endblock %}

{% block title %}
    {{ title }} | {% trans "Settings" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'site-settings-list' %}">{% trans "Settings" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ title }}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <form action="{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" method="post" class="form-stacked wysiwyg fixed-actions" enctype="multipart/form-data" data-behaviour="tab-nav-errors" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            {% block tab_nav %}
                <div class="col-md-3">
                    <div class="tab-nav sticky-top">
                        <div class="table-header">
                            <h3>{% trans "Sections" %}</h3>
                        </div>
                        <ul class="nav flex-column bs-docs-sidenav" id="brand">
                            {% block tabs %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="#setting" data-toggle="tab">
                                        {% trans 'Setting details' %}
                                    </a>
                                </li>
                            {% endblock tabs %}
                        </ul>
                    </div>
                </div>
            {% endblock tab_nav %}
            <div class="col-md-9">
                <div class="tab-content">
                    {% block tab_content %}
                        {% block brand_details %}
                            <div class="tab-pane active" id="setting">
                                <div class="table-header">
                                    <h3>{% trans "Setting details" %}</h3>
                                </div>
                                <div class="card card-body brand-details">
                                    {% block setting_details_content %}
                                    <span class="error-block">{{ form.non_field_errors }}</span>
                                    {% for field in form.hidden_fields %}
                                        {{ field }}
                                    {% endfor %}
                                    {% for field in form.visible_fields %}
                                        {% if 'attr' not in field.id_for_label %}
                                            {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                                        {% endif %}
                                    {% endfor %}
                                    <hr>
                                    <!-- Block for Formset (SocialMediaLinkFormSet) -->
                                    <!-- <h2>Social Media Links</h2>
                                    {{ formset.management_form }}
                                    {% for form in formset %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %} -->
            
                                    <h3>Social Media Links</h3>
                                    {{ formsets.social_links.management_form }}
                                    {% for form in formsets.social_links %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <hr>
                                    
                                    <h3>Menu Names</h3>

                                    {{ formsets.menu_names.management_form }}
                                    {% for form in formsets.menu_names %}
                                        <div class="form-group">
                                            {% for field in form %}
                                                {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <hr>
                                    
                                    <h3>Tags</h3>
                                    {{ formsets.tags.management_form }}
                                    {% for form in formsets.tags %}
                                    <div class="form-group">
                                        {% for field in form %}
                                            {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                <!-- Block for Formsets (SocialMediaLinkFormSet and MenuNameFormSet) -->

                                    {% endblock setting_details_content %}
                                </div>
                            </div>
                        {% endblock brand_details %}
                    {% endblock tab_content %}
                </div>
            </div>
        </div>
        {% block fixed_actions_group %}
            <div class="fixed-actions-group">
                <div class="form-group">
                    <div class="float-right">
                        <a href="{% url 'site-settings-list' %}">
                            {% trans "Cancel" %}
                        </a>
                        {% trans "or" %}
                        <button class="btn btn-secondary" name="action" type="submit" value="continue" data-loading-text="{% trans 'Saving...' %}">
                            {% trans "Save and continue editing" %}
                        </button>
                        <button class="btn btn-primary" name="action" type="submit" value="save" data-loading-text="{% trans 'Saving...' %}">
                            {% trans "Save" %}
                        </button>
                    </div>
                    {% if brand %}
                        <a class="btn btn-success" href="{{ setting.get_absolute_url }}">{% trans "View on site" %}</a>
                    {% endif %}
                </div>
            </div>
        {% endblock fixed_actions_group %}
    </form>
{% endblock dashboard_content %}
