{% load i18n %}
{% load image_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert alert-warning">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
    <div class="card card-body">
        <h3>{% trans "You could be missing out on offers!" %}</h3>
        {% for upsell in upsell_messages %}
            {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                <div class="warning">{{ message }} to qualify for the <a href="{{ url }}">{{ offer_name }}</a> special offer</div>
            {% endblocktrans %}
        {% endfor %}
    </div>
{% endif %}

{% if not basket.is_empty %}
{% block basket_form_main %}
<div class="row gutter-lg mb-10">
    <div class="col-lg-8 pr-lg-4 mb-6">
        <form method="post" class="basket_summary" id="basket_formset">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="shop-table cart-table">
                <thead>
                    <tr>
                        <th class="product-name"><span>{% trans "Product" %}</span></th>
                        <th></th>
                        <th class="product-price"><span>{% trans "Price" %}</span></th>
                        <th class="product-quantity"><span>{% trans "Quantity" %}</span></th>
                        <th class="product-subtotal"><span>{% trans "Subtotal" %}</span></th>
                    </tr>
                </thead>
                <tbody>
            {% for form in formset %}
                {% with line=form.instance product=form.instance.product %}
                    {% purchase_info_for_line request line as session %}
                    <tr class="basket-items">
                            <td class="product-thumbnail">
                                <div class="p-relative">
                                    {{ form.id }}
                                    {% with image=product.primary_image %}
                                        {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                                        <div class="basket-line-actions">
                                            <a href="#" class="btn btn-close delete-item" data-id="{{ forloop.counter0 }}" data-behaviours="remove"><i class="fas fa-times"></i></a>
                                            <div style="display:none">
                                                {{ form.save_for_later }}
                                                {{ form.DELETE }}
                                            </div>
                                        </div>
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="img-thumbnail w-auto mx-auto my-0" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endwith %}
                                </div>
                            </td>
                            <td class="product-name">
                                <a href="{{ product.get_absolute_url }}">{{ line.description|slice:":10" }}</a>
                            </td>
                            <td class="product-price">
                                <span class="amount">
                                    {% if line.is_tax_known %}
                                        {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                    {% else %}
                                        {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                    {% endif %}
                                </span>
                            </td>

                            <td class="product-quantity">
                                <div class="input-group">

                                    <div class="input-group {% if form.errors %}error{% endif %}">
                                        {% render_field form.quantity class+="form-control" %}
                                        <div class="input-group-append">
                                            <button class="quantity-plus w-icon-plus" type="button" data-line-id="{{ forloop.counter0 }}" onclick="updateQuantity(this, 1)"></button>
                                            <button class="quantity-minus w-icon-minus" type="button" data-line-id="{{ forloop.counter0 }}" onclick="updateQuantity(this, -1)"></button>
                                        </div>
                                    </div>
                                </div>
                            </td>


                            <td class="product-subtotal">
                                <span class="amount">
                                    {% if line.is_tax_known %}
                                        {{ line.line_price_incl_tax|currency:line.price_currency }}
                                    {% else %}
                                        {{ line.line_price_excl_tax|currency:line.price_currency }}
                                    {% endif %}
                                </span>
                            </td>
                    </tr>
                {% endwith %}
            {% endfor %}

            </tbody>
        </table>
        
{% endblock %}
        <div class="cart-action mb-6">
            <a href="{{ homepage_url }}" class="btn btn-dark btn-rounded btn-icon-left btn-shopping mr-auto"><i class="w-icon-long-arrow-left"></i>Continue Shopping</a>
            <button type="button" class="btn btn-rounded btn-default btn-clear" onclick="clearCart()">Clear Cart</button>
            <button class="btn btn-secondary btn btn-rounded btn-update" name="update_cart" type="submit" data-loading-text="{% trans 'Updating...' %}">{% trans "Update" %}</button>
        </div>
    </form>
        <!-- {% block vouchers %}
            {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
            {% if voucher_form %}
            <form class="coupon" action="{% url 'basket:vouchers-add' %}" method="post">
                {% csrf_token %}
                <h5 class="title coupon-title font-weight-bold text-uppercase">Coupon Discount</h5>
                <input type="text" name="code" class="form-control form-control-md mr-1 mb-2" placeholder="Coupon code" id="coupon_code">
                <button type="submit" class="btn btn-dark btn-outline btn-rounded">Apply Coupon</button>
            </form> 
            {% endif %}
        {% endblock vouchers %} -->
    </div>
    {% block baskettotals %}
        <div class="col-lg-4 sticky-sidebar-wrapper">
            <div class="sticky-sidebar">
                <div class="cart-summary mb-4">
                    <h3 class="cart-title text-uppercase">{% trans "Totals" %}</h3>
                    <div class="cart-subtotal d-flex align-items-center justify-content-between">
                        <label class="ls-25">{% trans "Subtotal" %}</label>
                        <span>{{ basket.total_incl_tax|currency:basket.currency }}</span>
                    </div>

                    <hr class="divider">

                    <div class="shipping-calculator d-flex justify-content-between">
                        <p class="shipping-destination lh-1">{% trans "Shipping Charge" %}</p>
                        <p class="shipping-destination lh-1">{{ shipping_charge.tax|currency:basket.currency }}</p>
                    </div>

                    <hr class="divider mb-6">

                    <div class="order-total d-flex justify-content-between align-items-center">
                        <label>Total</label>
                        <span class="ls-50">
                            {% if order_total.is_tax_known %}
                                {{ order_total.incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ order_total.excl_tax|currency:basket.currency }}
                            {% endif %}
                        </span>
                    </div>

                    {% block formactions %}
                    <div class="form-actions">
                        <a href="{% url 'checkout:index' %}" class="pull-right btn btn-large btn-primary btn-block btn-dark btn-icon-right btn-rounded btn-checkout">{% trans "Proceed to checkout" %}<i class="w-icon-long-arrow-right"></i></a>
                    </div>
                    {% endblock formactions %}
                    <!-- <a href="{% url 'checkout:index' %}" class="btn btn-block btn-dark btn-icon-right btn-rounded  btn-checkout">{% trans "Proceed to checkout" %}<i class="w-icon-long-arrow-right"></i></a> -->

                </div>
            </div>
        </div>
    {% endblock baskettotals %}
</div>

{% else %}
    {% block emptybasket %}
        <p>
            {% trans "Your basket is empty." %}
            <a href="{{ homepage_url }}">{% trans "Continue shopping" %}</a>
        </p>
    {% endblock %}
{% endif %}

{% block savedbasket %}
    {% if user.is_authenticated and saved_formset %}
        <div class="card card-body">
            <div class="sub-header">
                <h2>{% trans "Items to buy later" %}</h2>
            </div>
            <div class="row basket-title d-none d-md-flex">
                <div class="col-md-8 h4">{% trans "Items" %}</div>
                <div class="col-md-2 h4 text-center">{% trans "Price" %}</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <form action="{% url 'basket:saved' %}" method="post" id="saved_basket_formset">
                {% csrf_token %}
                {{ saved_formset.management_form }}
                {% for form in saved_formset %}
                    {% purchase_info_for_product request form.instance.product as session %}
                    <div class="basket-items">
                        <div class="row">
                            <div class="col-md-2">
                                {{ form.id }}
                                {% with image=form.instance.product.primary_image %}
                                    {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                                    <a href="{{ form.instance.product.get_absolute_url }}">
                                        <img class="card card-body mx-auto" src="{{ thumb.url }}" alt="{{ form.instance.product.get_title }}">
                                    </a>
                                {% endwith %}
                            </div>
                            <div class="col-md-6">
                                <h3><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h3>
                                <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                                <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove">{% trans "Remove" %}</a>
                                <div style="display:none">
                                    {{ form.move_to_basket }}
                                    {{ form.DELETE }}
                                </div>
                            </div>
                            {% purchase_info_for_product request form.instance.product as saved %}
                            <div class="col-md-2 text-center">
                                <p class="price_color">
                                    {% if saved.price.is_tax_known %}
                                        {{ saved.price.incl_tax|currency:saved.price.currency }}
                                    {% else %}
                                        {{ saved.price.excl_tax|currency:saved.price.currency }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-md-2">
                                <a href="#" data-id="{{ forloop.counter0 }}" class="btn float-right btn-block" data-behaviours="move">{% trans "Move to basket" %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    {% endif %}
{% endblock %}

{% include "custom_temps/basketpage/basket_js.html" %}