{% load static %}
{% load i18n %}
{% load brand_tags %}
<h2 class="title text-left mb-5 appear-animate">{% trans "Our Clients" %}</h2>
<div class="swiper-container swiper-theme brands-wrapper br-sm mb-10 appear-animate"
    data-swiper-options="{
    'loop': false,
    'spaceBetween': 20,
    'slidesPerView': 2,
    'autoplay': {
        'delay': 4000,
        'disableOnInteraction': false
    },
    'breakpoints': {
        '576': {
            'slidesPerView': 3
        },
        '768': {
            'slidesPerView': 4
        },
        '992': {
            'slidesPerView': 6
        },
        '1200': {
            'slidesPerView': 8
        }
    }
}">
    <div class="swiper-wrapper row cols-xl-8 cols-lg-6 cols-md-4 cols-sm-3 cols-2">
        {% get_brand_logos as brands %}
        {% for brand in brands %}
        <div class="swiper-slide">
            <figure>
                <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" width="290"
                    height="100" />
            </figure>
        </div>
        {% endfor %}
    </div>
</div>
<!-- End of Brands Wrapper -->