{% load static %}

<!-- End of Banner Product Wrapper -->


<div class="banner-product-wrapper appear-animate row mb-8">
    <div class="col-xl-5col col-md-4 mb-4">
        <div class="categories h-100">
            <h2 class="title text-left">Computers &amp; Technologies</h2>
            <ul class="list-style-none mb-4">
                <li><a href="shop-banner-sidebar.html">Desktop PC</a></li>
                <li><a href="shop-banner-sidebar.html">Headphones</a></li>
                <li><a href="shop-banner-sidebar.html">Laptops</a></li>
                <li><a href="shop-banner-sidebar.html">Monitors</a></li>
                <li><a href="shop-banner-sidebar.html">Smartphones</a></li>
                <li><a href="shop-banner-sidebar.html">Speakers</a></li>
                <li><a href="shop-banner-sidebar.html">Storage &amp; Memory</a></li>
                <li><a href="shop-banner-sidebar.html">Tablets</a></li>
                <li><a href="shop-banner-sidebar.html">Watches</a></li>
            </ul>
            <a href="shop-boxed-banner.html"
                class="btn btn-dark btn-link btn-underline btn-icon-right font-weight-bolder text-capitalize ls-50">
                Browse All<i class="w-icon-long-arrow-right"></i></a>
        </div>
    </div> 
    <div class="col-xl-5col4 col-md-8 mb-4">
        <div class="banner br-sm mb-4 pt-9" style="background-image: url({% static 'assets/images/demos/demo2/banners/2.jpg' %});
            background-color: #E0E1E5;">
            <div class="banner-content">
                <h5 class="banner-subtitle font-weight-normal text-capitalize texyt-dark ls-25 mb-0">
                    From Onlin Store
                </h5>
                <h3 class="banner-title text-capitalize ls-25 mb-4">
                    Xbox One's <span class="text-primary">Limited</span> Edition
                </h3>
                <a href="shop-boxed-banner.html"
                    class="btn btn-dark btn-link btn-underline btn-icon-right">
                    View Detail<i class="w-icon-long-arrow-right"></i>
                </a>
            </div>
        </div>
        <!-- End of Banner -->
        <div class="swiper-container swiper-theme" data-swiper-options="{
            'spaceBetween': 20,
            'slidesPerView': 2,
            'breakpoints': {
                '576': {
                    'slidesPerView': 3
                },
                '768': {
                    'slidesPerView': 2
                },
                '992': {
                    'slidesPerView': 3
                },
                '1200': {
                    'slidesPerView': 4
                }
            }
        }">
            <div class="swiper-wrapper row cols-xl-4 cols-lg-3">
                <div class="swiper-slide product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="{% static 'assets/images/demos/demo2/products/5-1-1.jpg' %}" alt="Product"
                                    width="300" height="338">
                                <img src="{% static 'assets/images/demos/demo2/products/5-1-2.jpg' %}" alt="Product"
                                    width="300" height="338">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                    title="Add to cart"></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                    title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                                    title="Quickview"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                    title="Add to Compare"></a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">Bluetooth Music
                                    Recorder</a></h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 100%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(8 Reviews)</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">$28.00</ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="{% static 'assets/images/demos/demo2/products/5-2.jpg' %}" alt="Product"
                                    width="300" height="338">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                    title="Add to cart"></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                    title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                                    title="Quickview"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                    title="Add to Compare"></a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">Magenetic Charge
                                    Box</a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 80%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(8 Reviews)</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">$79.00</ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="{% static 'assets/images/demos/demo2/products/5-3-1.jpg' %}" alt="Product"
                                    width="300" height="338">
                                <img src="{% static 'assets/images/demos/demo2/products/5-3-2.jpg' %}" alt="Product"
                                    width="300" height="338">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                    title="Add to cart"></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                    title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                                    title="Quickview"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                    title="Add to Compare"></a>
                            </div>
                            <div class="product-label-group">
                                <label class="product-label label-new">New</label>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">Soft Sound
                                    Marker</a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 100%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(5 Reviews)</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">$27.00</ins><del class="old-price">$35.00</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide product-wrap">
                    <div class="product text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="{% static 'assets/images/demos/demo2/products/5-4.jpg' %}" alt="Product"
                                    width="300" height="338">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                    title="Add to cart"></a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                    title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                                    title="Quickview"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                    title="Add to Compare"></a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">Men's Black
                                    Watch</a>
                            </h4>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 100%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="product-default.html" class="rating-reviews">(9 Reviews)</a>
                            </div>
                            <div class="product-price">
                                <ins class="new-price">$50.00</ins><del class="old-price">$65.00</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- End of Swiper -->
    </div>
</div>
<!-- End of Banner Product Wrapper -->