{% load i18n %}
{% load static %}

{% load display_tags %}
{% load image_tags %}
{% load reviews_tags %}

{% load currency_filters %}
{% load purchase_info_tags %}

{% load product_tags %}



<div class="title-link-wrapper mb-2 appear-animate">
    <h2 class="title">{% trans "Top Rated Products" %}</h2>
    <a href="{% url 'catalogue:index' %}" class="font-weight-bold ls-25">{% trans "More Products" %}<i
            class="w-icon-long-arrow-right"></i></a>
</div>

<div class="swiper-container swiper-theme top-products mb-6 appear-animate" data-swiper-options="{
    'spaceBetween': 20,
    'slidesPerView': 2,
    'breakpoints': {
        '576': {
            'slidesPerView': 3
        },
        '768': {
            'slidesPerView': 4
        },
        '992': {
            'slidesPerView': 5
        }
    }
}">
    <div class="swiper-wrapper row cols-lg-5 cols-md-4 cols-sm-3 cols-2">
        {% get_top_rated_products as top_rated_products %}
        {% for product in top_rated_products %}

        <div class="swiper-slide product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        {% with image=product.primary_image %}
                            {% oscar_thumbnail image.original "x180" upscale=False as thumb %}
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="img-thumbnail w-auto mx-auto my-0" width="300" height="338">
                            </a>
                        {% endwith %}
                        <!-- <img src="{% static 'assets/images/demos/demo2/products/1-1-1.jpg' %}" alt="Product"
                            width="300" height="338">
                        <img src="{% static 'assets/images/demos/demo2/products/1-1-2.jpg' %}" alt="Product"
                            width="300" height="338"> -->
                    </a>
                    <div class="product-action-vertical">
                        {% include "oscar/catalogue/partials/add_to_basket_form_compact.html" %}

                        <!-- <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                            title="Add to cart"></a> -->
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                            title="Add to wishlist"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                            title="Quickview"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                            title="Add to Compare"></a>
                    </div>
                    <!-- <div class="product-label-group">
                        <label class="product-label label-new">New</label>
                    </div> -->
                </figure>
                <div class="product-details">
                    <h4 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
                    {% iffeature "reviews" %}
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <!-- Check if the product has a rating, else set width to 0% -->
                            <span class="ratings" style="width: {% if product.rating %}{% widthratio product.rating 5 100 %}{% else %}0{% endif %}%;"></span>
                            <span class="tooltiptext tooltip-top">
                                {% if product.rating %}
                                    {{ product.rating|floatformat:2 }} out of 5
                                {% else %}
                                    No rating available
                                {% endif %}
                            </span>
                        </div>
                        <a href="{{ product.get_absolute_url }}#reviews" class="rating-reviews">({{ product.reviews.count }} reviews)</a>
                    </div>
                    {% endiffeature %}
                    {% purchase_info_for_product request product as session %}
                                        
                    <div class="product-price">
                        {% if session.price.exists %}
                            {% if session.price.excl_tax == 0 %}
                                <ins class="new-price">{% trans "Free" %}</ins>
                            {% elif session.price.is_tax_known %}
                                <ins class="new-price">{{ session.price.incl_tax|currency:session.price.currency }}</ins>
                            {% else %}
                                <ins class="new-price">{{ session.price.excl_tax|currency:session.price.currency }}</ins>
                            {% endif %}
                        {% else %}
                            <ins class="new-price">&nbsp;</ins>
                        {% endif %}             
                    </div>
            </div>
        </div>
       
        </div>
        {% endfor %}
        <div class="swiper-pagination"></div>
</div>
<!-- End of Swiper Container -->