{% load static %}
{% load i18n %}

{% load brand_tags %}
{% load product_tags %}



<!-- End of Banner Product Wrapper -->

<div class="banner-product-wrapper appear-animate row mb-8">
    <div class="col-xl-5col col-md-4 mb-4">
        <div class="categories h-100">
            <h2 class="title text-left">{% trans "Top Brands" %}</h2>
            <ul class="list-style-none mb-4">
                {% get_brands_with_products as brands %}
                {% for brand in brands %}
                <li><a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url 'brand' %}"
                class="btn btn-dark btn-link btn-underline btn-icon-right font-weight-bolder text-capitalize ls-50">
                Browse All<i class="w-icon-long-arrow-right"></i></a>
        </div>
    </div> 
    <div class="col-xl-5col4 col-md-8 mb-4">
        <div class="banner br-sm mb-4 pt-9">
             <figure>
                {% if site_info.brand_basnr_image %}
                <img src="{{ site_info.brand_baner_image.url }}" alt="Category Banner"
                    style="background-color: #25282D;" />
                {% else %}
                <img src="{% static 'assets/Image Place Holder/3070 x 615 .jpg' %}" alt="Category Banner"
                    style="background-color: #25282D;" />
                {% endif %}
            </figure>
            <div class="banner-content">
                <h5 class="banner-subtitle font-weight-normal text-capitalize texyt-dark ls-25 mb-0">
                    <!-- From Onlin Store -->
                </h5>
                <h3 class="banner-title text-capitalize ls-25 mb-4">
                    <span class="text-primary"></span>
                </h3>
                <a href="shop-boxed-banner.html"
                    class="btn btn-dark btn-link btn-underline btn-icon-right">
                    <!-- <i class="w-icon-long-arrow-right"></i> -->
                </a>
            </div>
        </div>
        <!-- End of Banner -->
        <div class="swiper-container swiper-theme" data-swiper-options="{
            'spaceBetween': 20,
            'slidesPerView': 2,
            'breakpoints': {
                '576': {
                    'slidesPerView': 3
                },
                '768': {
                    'slidesPerView': 2
                },
                '992': {
                    'slidesPerView': 3
                },
                '1200': {
                    'slidesPerView': 4
                }
            }
        }">
            <div class="swiper-wrapper row cols-xl-4 cols-lg-3">
            {% for brand in brands %}
                {% for product in brand.products.all %}
                <div class="swiper-slide product-wrap">
                    {% render_product product %}
                </div>
                {% endfor %}
            {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
