{% load i18n %}

{% load static %}
{% load product_tags %}
{% load custom_category_tags %}


<div class="banner-product-wrapper appear-animate row mb-8">
    <div class="col-xl-5col col-md-4 mb-4">
        <div class="categories h-100">
            <h2 class="title text-left">{% trans "Top Categories" %}</h2>
            <ul class="list-style-none mb-4">
                {% top_categories_with_products as top_categories %}
                {% for category in top_categories %}
                    <li><a href="{{ category.category.get_absolute_url }}">{{ category.category.name }}</a></li>
                {% empty %}
                    <li>No top categories available</li>
                {% endfor %}
            </ul>
            <a href="{% url 'Category' %}"
                class="btn btn-dark btn-link btn-underline btn-icon-right font-weight-bolder text-capitalize ls-50">
                Browse All<i class="w-icon-long-arrow-right"></i></a>
        </div>
    </div>
    <div class="col-xl-5col4 col-md-8 mb-4">
        <div class="banner br-sm mb-4" style="background-image: url({% if site_info.category_baner_image %}{{ site_info.category_baner_image.url }}{% else %} {% static 'assets/Image Place Holder/3070 x 615 .jpg' %}{% endif %});
            background-color: #EEF0EF;">
            <div class="banner-content d-block d-lg-flex align-items-center">
                <div class="content-left mr-auto">
                    <h5 class="banner-subtitle font-weight-normal text-capitalize text-dark ls-25 mb-0">
                         <strong class="text-uppercase text-secondary"></strong>
                    </h5>
                    <h3 class="banner-title text-capitalize ls-25"></h3>
                    <p class="text-dark"></p>
                </div>
                <!-- <a href="{{ product.get_absolute_url }}" class="content-left btn btn-dark btn btn-outline 
                    btn-rounded btn-icon-right mt-4 mt-lg-0">{% trans "Shop Now" %}<i
                        class="w-icon-long-arrow-right"></i>
                </a> -->
            </div>
        </div>
        <!-- End of Banner -->
        <div class="swiper-container swiper-theme" data-swiper-options="{
            'spaceBetween': 20,
            'slidesPerView': 2,
            'breakpoints': {
                '576': {
                    'slidesPerView': 3
                },
                '768': {
                    'slidesPerView': 2
                },
                '992': {
                    'slidesPerView': 3
                },
                '1200': {
                    'slidesPerView': 4
                }
            }
        }">
            <div class="swiper-wrapper row cols-xl-4 cols-lg-3">
                {% top_categories_with_products as top_categories %}
                {% for category in top_categories %}

                    {% for product in category.products %}
                        <div class="swiper-slide product-wrap">
                            {% render_product product %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

