{% load i18n %}

{% load static %}
{% load product_tags %}



<div class="title-link-wrapper mb-2 appear-animate">
    <h2 class="title">{% trans "Top Rated Products" %}</h2>
    <a href="{% url 'catalogue:index' %}" class="font-weight-bold ls-25">{% trans "More Products" %}<i
            class="w-icon-long-arrow-right"></i></a>
</div>

<div class="swiper-container swiper-theme top-products mb-6 appear-animate" data-swiper-options="{
    'spaceBetween': 20,
    'slidesPerView': 2,
    'breakpoints': {
        '576': {
            'slidesPerView': 3
        },
        '768': {
            'slidesPerView': 4
        },
        '992': {
            'slidesPerView': 5
        }
    }
}">
    <div class="swiper-wrapper row cols-lg-3 cols-md-4 cols-sm-3 cols-2">
        {% get_top_rated_products as top_rated_products %}
        {% for product in top_rated_products %}
        <div class="swiper-slide product">
            {% render_product product %}
        </div>
        {% endfor %}
        
    </div>
</div>
