{% load i18n %}

{% load static %}
{% load brand_tags %}
{% load product_tags %}


<section class="vendor-product-section">
    <div class="title-link-wrapper mb-4">
        <h4 class="title text-left">{% trans "More Products From This Brand" %}</h4>
        <a href="#" class="btn btn-dark btn-link btn-slide-right btn-icon-right">{% trans "More Products" %}<i class="w-icon-long-arrow-right"></i></a>
    </div>
    <div class="swiper-container swiper-theme" data-swiper-options="{
        'spaceBetween': 20,
        'slidesPerView': 2,
        'breakpoints': {
            '576': {
                'slidesPerView': 3
            },
            '768': {
                'slidesPerView': 4
            },
            '992': {
                'slidesPerView': 3
            }
        }
    }">
        <div class="swiper-wrapper row cols-lg-3 cols-md-4 cols-sm-3 cols-2">
            {% get_same_brand_products product as same_brand_products %}
            {% for product in same_brand_products %}
            <div class="swiper-slide product">
                {% render_product product %}
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>
