{% load static %}


{% load image_tags %}
{% load i18n %}
{% load brand_tags %}

 <div class="shop-default-brands mb-5">
    <div class="brands-swiper swiper-container swiper-theme "
        data-swiper-options="{
            'slidesPerView': 2,
            'breakpoints': {
                '576': {
                    'slidesPerView': 3
                },
                '768': {
                    'slidesPerView': 4
                },
                '992': {
                    'slidesPerView': 6
                },
                '1200': {
                    'slidesPerView': 7
                }
            },
            'autoplay': {
                'delay': 4000,
                'disableOnInteraction': false
            }
        }">
        <div class="swiper-wrapper row gutter-no cols-xl-7 cols-lg-6 cols-md-4 cols-sm-3 cols-2">
            {% get_brand_logos as brands %}
            {% for brand in brands %}
            <div class="swiper-slide">
                <figure>
                    {% with image=brand.logo %}
                    {% oscar_thumbnail image "x125" upscale=False as thumb %}
                
                        <img src="{{ thumb.url }}" alt="" class="img-thumbnail w-auto mx-auto my-0" height="125">
                
                {% endwith %}
                </figure>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- End of Shop Brands-->