{% load i18n %}
{% load image_tags %}

<div class="product-gallery product-gallery-sticky">
{% with all_images=product.get_all_images %}
    {# use length rather then count as the images get queried anyways #}

    {% if all_images|length > 1 %}
  
        <div id="product_gallery" class="swiper-container product-single-swiper swiper-theme nav-inner" data-swiper-options="{
            'navigation': {
                'nextEl': '.swiper-button-next',
                'prevEl': '.swiper-button-prev'
            }
        }"> 
            <div class="swiper-wrapper row cols-1 gutter-no">
                {% for image in all_images %}
                <div class="swiper-slide">
                <figure class="product-image">
                        {% oscar_thumbnail image.original "800x900" upscale=False as thumb %}
                        <img src="{{ image.original.url }}" data-zoom-image="{{ image.original.url }}" alt="{{ product.get_title }}" width="800" height="900" />
                </figure>
                </div>
                {% endfor %}
            </div>
            <button class="swiper-button-next"></button>
            <button class="swiper-button-prev"></button>
            <a href="#" class="product-gallery-btn product-image-full"><i class="w-icon-zoom"></i></a>
        </div>

        <div class="product-thumbs-wrap swiper-container" data-swiper-options="{
            'navigation': {
                'nextEl': '.swiper-button-next',
                'prevEl': '.swiper-button-prev'
            }
        }">
            <div class="product-thumbs swiper-wrapper row cols-4 gutter-sm">
            {% for image in all_images %}
                <div class="product-thumb swiper-slide">
                    {% oscar_thumbnail image.original "800x900" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}"  width="800" height="900"/>
                </div>
            {% endfor %}
            </div>
            <button class="swiper-button-next"></button>
            <button class="swiper-button-prev"></button>
        </div>

    {% else %}

        {# Only one image to show #}
        <div id="product_gallery">
            <div class="img-thumbnail">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    {% with image=product.primary_image %}
                        {% oscar_thumbnail image.original "800x900" upscale=False as thumb %}
                        <img src="{{ thumb.url }}" data-zoom-image="{{ thumb.url }}" alt="{{ product.get_title }}"  width="800" height="900"/>
                    {% endwith %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endwith %}

</div>

