{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Shipping address" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping address" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block login_coupon %}
    {% include "custom_temps/checkout/login.html"%}
{% endblock %}

{% block shipping_address %}
<div class="row mb-9 justify-content-center">
    {% if user.is_authenticated and addresses %}
        <!-- Existing addresses block on the right -->
        {% if addresses %}
        <div class="col-lg-6 order-lg-2">
            <h3>{% trans "An address from your address book?" %}</h3>
            <div class="choose-block">
                <div class="row">
                    {% for address in addresses %}
                        <div class="col-12 d-flex mb-4">
                            <div class="card card-body bg-light w-100">
                                <address class="mb-4">
                                    <table class="address-table">
                                        <tbody>
                                            {% for field in address.active_address_fields %}
                                                <tr>
                                                    <td><span>{{ field }}</span>{% if not forloop.first %}<br/>{% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </address>
                                <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="ship_to" />
                                    <input type="hidden" name="address_id" value="{{ address.id }}" />
                                    {% if address.is_default_for_shipping %}
                                        <button type="submit" class="btn btn-success btn-large ship-address" data-loading-text="{% trans 'Saving...' %}">
                                            <i class="fas fa-check-circle"></i> {% trans "Ship to your default shipping address" %}
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary btn-large ship-address" data-loading-text="{% trans 'Saving...' %}">
                                            {% trans "Ship to this address" %}
                                        </button>
                                    {% endif %}
                                </form>
                                <!-- Address controls including Edit and Delete -->
                                <div class="btn-group-address mt-3">
                                    <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="btn btn-quickview btn-outline btn-default btn-rounded btn-sm mb-2">{% trans "Edit address" %}</a>
                                    <a href="{% url 'checkout:user-address-delete' pk=address.id %}" class="btn btn-quickview btn-outline btn-default btn-rounded btn-sm mb-2">{% trans "Delete" %}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
        {% endif %}
    {% endif %}
        <!-- Center the new address block if no addresses exist -->
        {% block new_address_form %}
        {% if addresses %}
        <div class="col-lg-6 order-lg-1">
            <h3 class="title billing-title text-uppercase ls-10 pt-1 pb-3 mb-0">{% trans "Or a new address?" %}</h3>
        {% else %}
        <div class="col-lg-8">
            <h3 class="title billing-title text-uppercase ls-10 pt-1 pb-3 mb-0">{% trans "Where should we ship to?" %}</h3>
        {% endif %}
            <div class="card card-body bg-light">
                <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address">
                    {% csrf_token %}
                    <div class="row gutter-sm">
                        <div class="col-xs-6">
                            <div class="form-group">
                                {% include "oscar/partials/form_field.html" with field=form.first_name %}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                {% include "oscar/partials/form_field.html" with field=form.last_name %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Company name (optional)</label>
                        <input type="text" class="form-control form-control-md" name="company-name">
                    </div>
                    <div class="form-group">
                        {% include "oscar/partials/form_field.html" with field=form.country %}
                    </div>
                    <div class="form-group">
                        {% include "oscar/partials/form_field.html" with field=form.line1 %}
                        {% include "oscar/partials/form_field.html" with field=form.line2 %}
                        {% include "oscar/partials/form_field.html" with field=form.line3 %}
                    </div>
                    <div class="row gutter-sm">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% include "oscar/partials/form_field.html" with field=form.line4 %}
                            </div>
                            <div class="form-group">
                                {% include "oscar/partials/form_field.html" with field=form.postcode %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {% include "oscar/partials/form_field.html" with field=form.state %}
                            </div>
                            <div class="form-group">
                                {% include "oscar/partials/form_field.html" with field=form.phone_number %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        {% include "oscar/partials/form_field.html" with field=form.notes %}
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-4 col-sm-8">
                            <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                            {% trans "or" %} <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}
</div>
{% endblock shipping_address %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}