{% load currency_filters %}
{% load i18n %}
{% load image_tags %}
{% load static %}

<div class="header-right ml-4">
    <div class="header-call d-xs-show d-lg-flex align-items-center">
        {% if site_info.site_phone %}
        <a href="tel:#" class="w-icon-call"></a>
        <div class="call-info d-lg-show">
            <h4 class="chat font-weight-normal font-size-md text-normal ls-normal text-light mb-0">
                <a href="https://wa.me/{{ site_info.whatsapp_number }}" class="text-capitalize">WhatsApp</a> or :</h4>
                <a href="tel:#" class="phone-number font-weight-bolder ls-50">{{ site_info.site_phone }}</a>
        </div>
        {% endif %}
    </div>
    
    <a class="wishlist label-down link d-xs-show" href="{% url 'customer:wishlists-list' %}">
        <i class="w-icon-heart"></i>
        <span class="wishlist-label d-lg-show">{% trans 'Wishlist' %}</span>
    </a>
    <a class="compare label-down link d-xs-show" href="#">
        <i class="w-icon-compare"></i>
        <span class="compare-label d-lg-show">{% trans "Compare" %}</span>
    </a>

    <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
        <div class="cart-overlay"></div>
        <a href="#" class="cart-toggle label-down link">
            <i class="w-icon-cart">
                <span class="cart-count">{{ request.basket.num_items }}</span>
            </i>
            <span class="cart-label">{% trans "Cart" %}</span>
        </a>
        <div class="dropdown-box">
            <div class="cart-header">
                <span>{% trans "Shopping Cart" %}</span>
                <a href="#" class="btn-close">Close<i class="w-icon-long-arrow-right"></i></a>
            </div>
        
            <div class="products">
                {% for line in request.basket.all_lines %}
                <div class="product product-cart">
                    <div class="product-detail">
                        <a href="{{ line.product.get_absolute_url }}" class="product-name">{{ line.product.title }}</a>
                        <div class="price-box">
                            <span class="product-quantity">{{ line.quantity }}</span>
                            <span class="product-price">{{ line.line_price_incl_tax|currency:request.basket.currency }}</span>
                        </div>
                    </div>
                    <figure class="product-media">
                        {% with image=line.product.primary_image %}
                            {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                            <a href="{{ line.product.get_absolute_url }}">
                                <img src="{{ thumb.url }}" alt="{{ line.product.get_title }}" class="img-thumbnail w-auto mx-auto my-0">
                            </a>
                        {% endwith %}
                    </figure>
                    <button class="btn btn-link btn-close" aria-label="button">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                {% empty %}
                <div class="product">
                    <p>{% trans "Your basket is empty." %}</p>
                </div>
                {% endfor %}
            </div>
        
            <div class="cart-total">
                <label>{% trans "Subtotal:" %}</label>
                <span class="price">{{ request.basket.total_incl_tax|currency:request.basket.currency }}</span>
            </div>
        
            <div class="cart-action">
                <a href="{% url 'basket:summary' %}" class="btn btn-dark btn-outline btn-rounded">{% trans "View Cart" %}</a>
                <a href="{% url 'checkout:index' %}" class="btn btn-primary btn-rounded">{% trans "Checkout" %}</a>
            </div>
        </div>     
    </div>
</div>

{% include 'custom_temps/plugin_js.html' %}